:root{
    --player-score-back-clr : #FF4F0F;
    --computer-score-back-clr : #03A6A1;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F5F5F5;
    min-height: 100vh;
    min-height: 100dvh;
    h1{
        text-align:center;
        margin: 10px 0;
    }
}
main{
    width: 80%;
    display:flex;
    text-align: center;
    padding: 10px;
    margin: 60px auto;
    flex-direction: column;
}
main .roundCountElement{
    font-size: 1.5rem;

    span{
        background: #33A1E0;
        color: white;
        padding:5px;
    }
}
main .status{
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-style: italic;
    
}
main .scores{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2em;
    margin: 2em 0;
}
main .scores .score{
    width:200px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    .playerScore{
        background: var(--player-score-back-clr);
    }
    .computerScore{
        background: var(--computer-score-back-clr)
    }
}
main .scores .score .scoreCount{
    width:100px;
    height:100px;
    display:grid;
    place-items:center;
    margin: 10px auto;
    color:white;
    border-radius: 50vw;
    font-size: 2rem
}
main .choices{
    margin:0 auto;
    width:fit-content;
    display: flex;
    gap: 10px;
}
main .choices button{
    background: #1C6EA4;
    padding: 20px;
    display:grid;
    place-items:center;
    font-size: 1.7rem;
    color: white;
    border:none;
}
 .reset{
    background: #273F4F;
    color: white;
    padding: 15px 20px;
    border:none;
}